@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("../image/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}
input[type="text"] {
  border-radius: 12px;
}
.text {
  text-align: center;
  margin: 5%;
  color: white;
}
.text h2,
.text h3 {
  font-weight: 700;
}
.bg {
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  border-radius: 10px;
  padding: 1rem 10px;
  box-shadow: 5px 5px 5px black;
}
.bgicon {
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  border-radius: 10px;
  padding: 0.4rem 10px;
  box-shadow: 5px 5px 5px black;
}
.totalDeathsDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.totalDeathsDiv #icon-cloud {
  width: 90px;
  border: none;
  height: 90px;
  margin: 1px auto;
}
.totalDeaths {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 600;
}
.nama-kota {
  margin-top: 1rem;
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}
.grafik {
  font-size: 32px;
  color: white;
  font-weight: 700;
}
.kota {
  font-size: 35px;
  color: white;
  font-weight: 600;
}
.hari .bi {
  color: black;
  margin-right: 5px;
  font-weight: 600;
}
.hari span {
  color: white;
  font-weight: 600;
}

#map {
  height: 50vh;
  width: 80%;
}

.leaflet-popup-content-wrapper {
  width: 100%;
}
